//Path

$path-fonts: '../fonts/';
$path-img: '../images/';

//Fonts
$arial: Arial, sans-serif;


//Colors
$black: #000;
$white: #fff;

//Default settings
$default-font: $arial;
$default-font-size: 16px;
$default-line-height: 1.5;
$default-font-weight: 400;
$default-font-style: normal;
$default-text-color: $black;
$text-color-inverse: $white;

$body-bg: $white;

